<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>SIRANAP-Home</title>
	<object th:include="fragments/fragment :: metas" th:remove="tag"></object>
  	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<div th:fragment="footer" >

	<div class = "jarak-footer"></div>
	
	<div class="footer">
  		<div id="button"></div>
		<div id="container">
			<div id="cont">
				<div class="footer_center">
   					<h3> &copy; 2018 | Kelompok 6 APAP B </h3>
				</div>
			</div>
		</div>
	</div>

	
</div>