<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:fragment="metas">
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	</head>
    
    <head th:fragment="css">
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/footer.css}">
        <link rel="stylesheet" th:href="@{/css/home.css}">
        <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
    </head>

    <head th:fragment="js">
    	
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
    </head>
</head>

<body>

    <div th:fragment="navbar">
    	<div style = "background-color: #e1e1e1">
    		 <nav class = "navbar navbar-expand-md navbar navbar-ranap-atas">
			  	<i class = 'far fa-envelope' style = "margin-left: 120px; font-size: 12px;"></i>
			  	<p style ="padding-left:5px;margin-top:15px;font-size: 11px;"> siranap_rsap@rsap.ac.id |</p>
    			
    			<i class='fas fa-phone' style="padding-left:5px;font-size: 12px;"></i>
    			<p style ="padding-left:5px;margin-top:15px;font-size: 11px;"> 021 7653 987</p>     		
			  	
			  	<i class='fas fa-map-marker-alt' style="margin-left: 550px;font-size: 12px"></i>
			  	<p style ="padding-left:5px;margin-top:15px;font-size: 11px;"> Margonda Raya No. 19 B, Depok. Indonesia</p>
			  </nav>
			</div>
    		 	
	    <nav class = "navbar navbar-expand-lg navbar-dark bg-dark navbar-ranap">
	    	
	        <a class="navbar-brand siranap" href="@{/}"> SIRANAP </a>
	       
	        <div class="collapse navbar-collapse">
	            <ul class="navbar-nav mr-auto" style = "margin-left: 50px">
	                <li class="nav-item active">
	                    <a class="nav-link menu" th:href="@{/}">Home</a>
	                </li>
	                
	                <li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
          					Pasien
        				</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        					<!-- Untuk semua pasien yang sudah "dirawat" -->
        					<a class="dropdown-item" th:href="@{/pasien-ranap}">Pasien Rawat Inap</a>
        					<!-- Untuk semua pasien yang "dirujuk" -->
        					<a class="dropdown-item" th:href="@{/daftar-request}">Pasien Rujukan</a>
        					<!-- Untuk semua pasien yang "akan dipulangkan" -->
        					<a class="dropdown-item" th:href="@{/daftar-ranap}">Pemulangan Pasien</a>
        				</div>
     	 			</li>
     	 			
     	 			<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
          					Jadwal Jaga
        				</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        					<!-- Untuk kelola jadwal jaga" -->
        					<a class="dropdown-item" th:href="@{/jadwal-jaga}">Jadwal Jaga</a>
        				</div>
     	 			</li>
     	 			
     	 			<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
          					Kamar
        				</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        					<!-- Untuk kelola jadwal jaga" -->
        					<a class="dropdown-item" th:href="@{/kamar}">Kelola Kamar</a>
        				</div>
     	 			</li>						
	            </ul>
	            
	            <ul class = "navbar-nav ml-auto">
	            	<li class="nav-item dropdown">
        				<a class="nav-link dropdown-toggle" th:href="@{/}" th:text="${#httpServletRequest.remoteUser}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white;">
          					Kamar
        				</a>
        				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
        					<a class="dropdown-item" th:href="@{/logout}">Logout</a>
        				</div>
     	 			</li>	
	            </ul>
	            
	            <!--             
	             <ul class = "navbar-nav ml-auto">
	             	<li class="nav-item active">
	                    <a class="nav-link menu" th:href="@{/}" th:text="${#httpServletRequest.remoteUser}"></a>
	                </li>
	            	<li class = "nav-item active">
	            		<a id = "rounded-text" th:href="@{/logout}"  class="btn btn-outline-light" role="button">Logout</a>
	            	</li>
	            </ul>
	            -->
	            
        	</div>
        	
        	
        	
       	
    	</nav>
    	
    	
        	
    	
    </div>
    

</body>

</html>