<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>SIRANAP-ERROR 500</title>
	<object th:include="fragments/fragment :: metas" th:remove="tag"></object>
  	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="alert alert-danger" role="alert" style="margin-top: 40px; padding:20px;font-size:20px;margin-bottom:220px" align="center">
  		<strong>Error!</strong> 500 Internal Server Error!
	</div>
	
	<nav th:replace="fragments/footer :: footer"></nav>
</body>
</html>