<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Tambah Penanganan</title>
		<object th:include="fragments/fragment :: metas" th:remove="tag"></object>
	  	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	    
	    <style>
	    	.add-penanganan-container{
			    border-radius: 20px;
			    padding: 50px;
			    width: 50%;
		        margin: auto;
			}
			
			#button1{
				background-color:#00CED1;
		        margin: 1px;
				width:48%;
			}
			
			#button2{
				background-color:#ff6666;
	        	margin: 1px;
				width:48%;
			}
		</style>			
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="add-penanganan-container">
			<h4 align="center">Tambah Penanganan</h4><br>
		
			<form th:action="@{'/pasien-ranap/'+ ${pasien.id} + '/success'}" th:object="${penanganan}" method="POST">
				<div class="form-group">
					<label>Nama Pasien:</label>
					<input disabled class="form-control" type="text" name="nama" th:value="${pasien.nama}"/>
				</div>
				
				<input type="hidden" name="idPasien" th:value="${pasien.id}"/>
				<input type="hidden" id="paviliun" th:value="${paviliun.id}"/>
				
				<div class="form-group">
				  <label>Nama Dokter:</label>
				  <select class="form-control" name="idDokter" required="required" id="dokter">
				  	<option disabled="disabled" selected="selected" value="">-- Pilih Dokter --</option>
				    <option th:each="dokter: ${listDokter}" 
				    		th:value="${dokter.id}" 
				    		th:text="${dokter.nama}"></option>
				  </select>
				</div>			
				
				<div class="form-group">
				  <label>Waktu Jaga:</label>
				  <select class="form-control" name="waktu" id="waktu">
				  	<option disabled="disabled" selected="selected">-- Pilih Waktu --</option>
				  </select>
				</div>
				
				<div class="form-group">
					<label>Pemeriksaan:</label>
					<textarea class="form-control" name="pemeriksaan" required></textarea>
				</div>
				
				<button class="w3-button w3-block" id="button1" type="submit" style="float: left">Submit</button>
				<a th:href="@{'/pasien-ranap/' + ${pasien.id}}" class="w3-button w3-block" id="button2" style="text-decoration:none; float: right">Cancel</a>
				
			</form>
		</div>

		<nav th:replace="fragments/footer :: footer"></nav>

		<script>
			$('#dokter').change(
				function() {
					var $pav = document.getElementById("paviliun").value;
		            $.getJSON("http://localhost:8080/waktu-available-paviliun", {
		                idDokter : $(this).val(),
		            	idPaviliun : $pav,
		                ajax : 'true'
		            }, 
		            function(data) {
		                var html = '<option disabled="disabled" selected="selected">-- Pilih Waktu --</option>';
		                var len = data.length;
		                for ( var i = 0; i < len; i++) {
		                    html += 
		                    	'<option value= "'+ data[i].id +'" + th:text="'+ data[i].waktu +'">' + data[i].waktu + '</option>';
		                }
		            	$('#waktu').html(html);
		           	});
	        });
		</script>
	
	</body>
</html>