<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title th:text="'Detail Pasien - ' + ${pasien.nama}"></title>
			
		<object th:include="fragments/fragment :: metas" th:remove="tag"></object>
	  	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	    
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

	    <style>
			.container{
			    display: grid;
			    padding: 2rem;
			    grid-gap: 1rem;
			}
			
			#button1{
				background-color:#3C89A3;
			}
			
			#button2{
				background-color:#00CED1;
			}
			   
			.card {
			  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
			  max-width: 400px;
			  margin: auto;
			  text-align: center;
			  font-family: arial;
			}
			.title {
			  color: grey;
			  font-size: 18px;
			}   
		</style>
	    
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="w3-third w3-container">
			<section class="container">
				<div class="w3-container" align="center">
					<img src="https://preview.ibb.co/fhMDEq/blank-profile-picture-973460.png" style="width:100%">
					<div class="w3-card-4" style="width:100%">
					  	<h1 th:text="${pasien.nama}"></h1>

						<div class="w3-container w3-white">
						  	<p th:text="'ID: ' + ${pasien.id}"></p>
						  	<p th:text="'Paviliun: ' + ${paviliun}"></p>
						  	<p th:text="'Kamar: ' + ${kamar}"></p>
				  		</div>
			  			<form th:action="@{'/pasien-ranap/penanganan/insert'}" th:object="${pasien}" method="POST">
							<input type="hidden" name="id" th:value="${pasien.id}"/>
							<button type="submit" class="w3-button w3-block" id="button1">+Tambah Penanganan</button>						
					  	</form>
					</div>
				</div>
			</section>
		</div>
		
		<th:block th:switch="${statusPenanganan}">
			<div th:case="'empty'">
				<div class="w3-twothird w3-container">
					<section class="container">
						<h5 align="center" style="color:grey">Tidak ditemukan data penanganan</h5>
					</section>
				</div>
			</div>
			<div th:case="'exist'">
				<div class="w3-twothird w3-container">
					<section class="container">
						<th:block th:each="penanganan: ${listPenanganan}">
							<div class="w3-container" align="center">
								<div class="w3-card-4" style="width:100%">
									<header class="w3-container w3-light-grey">
									  <h4 th:text="'Penanganan ' + ${penanganan.waktu}"></h4>
									</header>
									<div class="w3-container w3-white"><br>
									  <p th:text="${penanganan.pemeriksaan}" ></p><br>
									</div>
									<a th:href="@{'/pasien-ranap/' + ${pasien.id} + '/penanganan/' + ${penanganan.id}}" class="w3-button w3-block" id="button2" style="text-decoration:none">Lihat Penanganan</a>
								</div>
							</div>
						</th:block>	
					</section>
				</div>
			</div>
		</th:block>	
		
		<nav th:replace="fragments/footer :: footer"></nav>
	</body>
</html>