<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Detail Kamar</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<br>
		<h3 style="text-align:center;">Detail Kamar</h3>
		<h3 style="text-align:center;" th:text="${kamar.paviliun.namaPaviliun} + ' ' + 
		${kamar.id}"></h3>
		<p th:text="${kamar.status == 0} ? 'In-active' : 'Active'"></p>
		<p th:text="'Nama Pasien : ' + ${kamar.idPasien}"></p>

	</div>
</body>
</html>