<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Insert title here</title>
		<object th:include="fragments/fragment :: metas" th:remove="tag"></object>
	  	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	
		<style>
			.detail-penanganan-container {
			    border-radius: 20px;
			    padding: 50px;
			    width: 60%;
		        margin: auto;
			}
						#button{
				background-color:#00CED1;
				 width:50%;
			}
		</style>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>

		<div class="detail-penanganan-container">
			<h3 th:text="'Penanganan ' + ${penanganan.waktu}"></h3><hr>
			<h5><b>Deskripsi:</b></h5>
			<p th:text= "${penanganan.pemeriksaan}"></p><br>
			<h5><b>Dokter:</b></h5>
			<p th:text= "${dokter.nama}"></p><br>
			<h5><b>Request Obat:</b></h5>
			<p>blablabla</p><br>
			<a th:href="@{'/pasien-ranap/' + ${penanganan.idPasien} + '/ubah-penanganan/' + ${penanganan.id}}" class="w3-button w3-block" id="button" style="text-decoration:none">Ubah Penanganan</a>
		</div>
		
		<nav th:replace="fragments/footer :: footer"></nav>
		
	</body>
</html>