<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Daftar Kamar</title>
	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css"/>
	<link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready( function () {
		    $('#kamarTable').DataTable();
		} );
	</script>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="container-fluid">
		<br>
		<h3 style="text-align:center;">Daftar Kamar</h3>
		<form th:action="@{/kamar}" method="GET">
			<br>
			<div class="col-md-3">
			Paviliun : <br>
			<select class="form-control" name="idPaviliun" id="paviliun">
				<option disabled="disabled" selected="selected">Pilih Paviliun</option>
			        <option th:each="paviliun : ${listPaviliun}"
			                th:value="${paviliun.id}"
			                th:text="${paviliun.namaPaviliun}">
			        </option>
			</select>
			<br>
			<button type="submit" class="btn btn-primary">Tampilkan</button>
			</div>
			
		</form>
		<br>
		<table id="kamarTable" class="display">
	       <thead>
	            <tr>
					<th>Nomor Kamar</th>
					<th>Status</th>
	            </tr>
	        </thead>
	        <tbody>
		        <tr th:each="kamar : ${listKamar}">
					<td><a th:href="@{'/kamar/'+ ${kamar.id}}" 
					th:text="${kamar.paviliun.namaPaviliun} + '-' + ${kamar.id}" /></a></td>
					<td th:text="${kamar.status == 0} ? 'In-active' : 'Active'" />
				</tr>
			</tbody>
	    </table>
		
		
	</div>
	
</body>
</html>