<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SIRANAP-Home</title>
	<object th:include="fragments/fragment :: metas" th:remove="tag"></object>
  	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script type="text/javascript" charset="utf8" src=" https://code.jquery.com/jquery-3.3.1.js"></script>
  	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
  	
  	<style>
	  	tr.group,
		tr.group:hover {
	    background-color: #ddd !important;
		}
  	</style>
</head>

<body>

	<nav th:replace="fragments/fragment :: navbar"></nav>
	    <div class="container-fluid">
	        <h2 th:text = " 'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>
	    	
	    	<h3><a th:text = "'Tambah jadwal jaga'" th:href="@{'/jadwal-jaga/tambah'}"></a></h3>
	       
	        <table id="example" class="display">
		    <thead>
		        <tr align="center">
			        <th>Nama Dokter</th>
			        <th>Paviliun </th>
			        <th>Status Dokter</th>
			        <th>Waktu</th>
		        </tr>
		    </thead>
		    <tbody>
		        <tr th:each="jadwalJaga : ${listAllJadwalJaga}" align="center">
		            <td>
			            <a th:text="${map.get(jadwalJaga).getNama()}" th:href="@{'jadwal-jaga/dokter/' + ${jadwalJaga.idDokter}}"></a>
		            </td>
					<td><p th:text="${jadwalJaga.paviliun.namaPaviliun}"></p></td>
					<td><p th:text="${jadwalJaga.statusDokter}"></p></td>
					<td>
						<a th:text="${jadwalJaga.waktu.waktu}" th:href="@{'jadwal-jaga/ubah/' + ${jadwalJaga.id}}"></a>
					</td>
				</tr>
		    </tbody>
			</table>
	        
	        
	    </div>
	
	<script>
	$(document).ready(function() {
	    var groupColumn = 0;
	    var table = $('#example').DataTable({
	        "columnDefs": [
	            { "visible": false, "targets": groupColumn }
	        ],
	        "order": [ groupColumn, 'asc' ],
	        "displayLength": 25,
	        "drawCallback": function ( settings ) {
	            var api = this.api();
	            var rows = api.rows( {page:'current'} ).nodes();
	            var last=null;
	 
	            api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
	                if ( last !== group ) {
	                    $(rows).eq( i ).before(
	                        '<tr class="group" align="center"><td colspan="3">'+group+'</td></tr>'
	                    );
	 
	                    last = group;
	                }
	            } );
	        }
	    } );
	 
	    // Order by the grouping
	    $('#example tbody').on( 'click', 'tr.group', function () {
	        var currentOrder = table.order()[0];
	        if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
	            table.order( [ groupColumn, 'desc' ] ).draw();
	        }
	        else {
	            table.order( [ groupColumn, 'asc' ] ).draw();
	        }
	    } );
	} );
	</script>
	   
</body>
</html>