<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="UTF-8">
<title>Assign Pasien Rujukan</title>
<object th:include="fragments/fragment :: css" th:remove="tag"></object>
<object th:include="fragments/fragment :: js" th:remove="tag"></object>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.15/css/dataTables.jqueryui.min.css" />
<link
	href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css"
	rel="stylesheet" type="text/css" />
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="https://cdn.datatables.net/1.10.15/js/dataTables.jqueryui.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<h3 align="CENTER">Assign Pasien Rujukan</h3>
	<div class="container">
		<div class="row">
			<div class="col-md-6 tengah">
				<div class="card">
					<div class="card-header">Assign Pasien Rujukan</div>
					<div class="card-body">

						<form th:action="@{/daftar-request/assign}" method="POST">
							<input class="form-control" type="hidden" name="idPasien"
								th:value="${pasien.id}" />
							<div class="form-group">
								<label th:text="'Nama: '+${pasien.nama}"></label>
							</div>
							<div class="form-group">
								<label>Paviliun:</label> <select class="form-control"
									name="paviliun" id="paviliun">
									<option disabled="disabled" selected="selected">--
										Pilih Paviliun --</option>
									<option th:each="paviliun: ${paviliunList}"
										th:value="${paviliun.id}" th:text="${paviliun.namaPaviliun}"></option>
								</select>
							</div>
							<div class="form-group">
								<label>Kamar</label> <select class="form-control" name="Id"
									id="kamar">
									<option disabled="disabled" selected="selected">--
										Pilih Kamar --</option>
								</select>
							</div>
							<button class="btn btn-primary btn" type="submit">Submit</button>
						</form>

					</div>
				</div>
			</div>
		</div>
	</div>
	<nav th:replace="fragments/footer :: footer"></nav>

	<script>
			$(document).ready(function(){
				console.log("hello")
				$('#paviliun').change(function() {
					valueProv = $(this).val();
					$.ajax({
						type: "GET",
						url: "http://localhost:8080/paviliun-available",
						data: {
							'idPaviliun' : valueProv
						},
						dataType: 'json',
						success: function(data) {
							getIns = '<option disabled="disabled" selected="selected">--Pilih Kamar --</option>';
							var size = data.length;
							for (var i = 0; i<size; i++) {
								getIns+='<option value="'+data[i].id+'">'+data[i].id+'</option>';
								console.log(data[i]);
								console.log(data[i].id)
							}
							console.log(getIns);
							$('#kamar').html(getIns);
						},
						error: function(rs,e) {
							getIns = '<option disabled="disabled" selected="selected">--Tidak ada Kamar Available --</option>';
							$('#kamar').html(getIns);
							console.log(rs.responseText)
						}
					})
				})
			});
		</script>

</body>
</html>