<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>SIRANAP-Home</title>
	<object th:include="fragments/fragment :: metas" th:remove="tag"></object>
  	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <script type="text/javascript" charset="utf8" src=" https://code.jquery.com/jquery-3.3.1.js"></script>
  	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>

<body>

	<nav th:replace="fragments/fragment :: navbar"></nav>
	    <div class="container-fluid">
	        <h2 th:text = " 'Hello ' + ${#httpServletRequest.remoteUser} + ' !'">Login as</h2>
	    	
	        <div class="row">
	        <form th:action="@{/daftar-request/assign}" method="POST">
				Nama: <br>
				<h2 th:text="${pasien.nama}"></h2>
				<input class="form-control" type="hidden" name="idPasien" th:value="${pasien.id}"/>
				<br>
				<h2 th:text="'Paviliun'"></h2>
		 		<h2>
						<select id="paviliun" class="form-control"/>
							<option disabled="disabled" selected="selected" >Pilih Paviliun</option>
						<option th:each="paviliun : ${paviliunList}"
						th:value="${paviliun.id}"
						th:text="${paviliun.namaPaviliun}"></option>
						</select>
		 		</h2>
				<br>
				<h2 th:text="'Kamar'"></h2>
		 		<h2>
						<select name="Id" id="Id" class="form-control"/>
							<option disabled="disabled" selected="selected" >Pilih Kamar</option>
						<!-- <option th:each="kamar : ${map.get(paviliun)}" -->
						<div th:each = "paviliun :${paviliunList}">
						<option th:each = "kamar : ${paviliun.kamarList}"
						th:value="${kamar.id}"
						th:text="${paviliun.namaPaviliun} +'-'+ ${kamar.id}"></option>
						</div>
						</select>
						
		 		</h2>
				<br>
				<button  class="btn btn-primary btn" type="submit">Submit</button>
			</form>
	        </div>
	        
	    </div>
	   
</body>
</html>