<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Insert title here</title>
		<object th:include="fragments/fragment :: metas" th:remove="tag"></object>
	  	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
	    <style>
	    	.add-penanganan-container{
			    border-radius: 20px;
			    padding: 50px;
			    width: 50%;
		        margin: auto;
			}
		</style>	
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		
		<div class="add-penanganan-container">
			<h4 align="center">Ubah Jadwal Jaga</h4><br>
		
			<form th:action="@{'/jadwal-jaga/tambah/success'}" th:object="${jadwalJaga}" method="POST">
            	<input type="hidden" name="id" th:value="${jadwalJaga.id}">
            	<input type="hidden" name="idDokter" th:value="${dokter.id}" id="dokter">
				  
  				<div class="form-group">
				  <label>Nama Dokter:</label>
				  <input disabled class="form-control" type="text" th:value="${dokter.nama}"/>
				</div>
				
				<div class="form-group">
					<label>Status Dokter:</label>
					<input class="form-control" type="text" name="statusDokter" th:value="${jadwalJaga.statusDokter}"/>
				</div>	
				
				<div class="form-group">
				  <label>Paviliun:</label>
				  <select class="form-control" name="paviliun" id="paviliun">
				  	<option disabled="disabled" selected="selected" value="null">-- Pilih Paviliun --</option>
				    <option th:each="paviliun: ${listPaviliun}" 
				    		th:value="${paviliun.id}" 
				    		th:text="${paviliun.namaPaviliun}"
				    		th:selected="(${paviliun.id} == ${jadwalJaga.paviliun.id})"></option>
				  </select>
				</div>	
				
				<div class="form-group">
				  <label>Waktu Jaga:</label>
				  <select class="form-control" name="waktu" id="waktu">
				  	<option disabled="disabled" selected="selected">-- Pilih Waktu Jaga --</option>
				  	<option th:each="waktu: ${listWaktuAvailable}" 
				    		th:value="${waktu.id}" 
				    		th:text="${waktu.waktu}"
				    		th:selected="(${waktu.id} == ${jadwalJaga.waktu.id})"></option>
				  </select>
				</div>	
				
				<button class="button" type="submit">Submit</button>
			</form>
			<br>
			<form th:action="@{'/jadwal-jaga/hapus/success'}" th:object="${jadwalJaga}" method="POST">
				<input type="hidden" name="id" th:value="${jadwalJaga.id}">
				<button class="button" type="submit">Delete</button>
			</form>
		</div>
	</body>
</html>