<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Ubah Penanganan</title>
		<object th:include="fragments/fragment :: metas" th:remove="tag"></object>
	  	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
		<style>
			.update-penanganan-container{
			    border-radius: 20px;
			    padding: 50px;
			    width: 50%;
		        margin: auto;
			}
		</style>
	</head>
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
	
		<div class="update-penanganan-container">
			<h4 align="center">Ubah Penanganan</h4><br>
		
			<form th:action="@{'/penanganan/' + ${pasien.id} + '/lihat-penanganan/' + ${penanganan.id} + '/success'}" th:object="${penanganan}" method="POST">
				<div class="form-group">
					<label>Nama Pasien:</label>
					<input disabled class="form-control" type="text" name="nama" th:value="${pasien.nama}"/>
				</div>
				
				<input type="hidden" name="idPasien" th:value="${pasien.id}"/>
				<input type="hidden" name="id" th:value="${penanganan.id}">
				
				<div class="form-group">
				  <label>Nama Dokter:</label>
				  <select class="form-control" name="idDokter">
				  	<option disabled="disabled" selected="selected" >-- Pilih Dokter --</option>
				    <option th:each="dokter: ${listDokter}" 
				    		th:value="${dokter.id}" 
				    		th:text="${dokter.nama}"
				    		th:selected="(${dokter.id} == ${dokterSelected.id})"></option>
				  </select>
				</div>			
				
				<div class="form-group">
				  <label>Waktu:</label>
				  <input class="form-control" type="datetime-local" step="1" name="waktuFix" th:value="${waktu}"/>
				</div>
				
				<input type="hidden" name="waktu" value="2018-11-01 06:08:00"/>
				
				<div class="form-group">
					<label>Pemeriksaan:</label>
					<input class="form-control" type="text" name="pemeriksaan" maxlength="255" th:value="${penanganan.pemeriksaan}" required/>
				</div>
				
				<button class="button" type="submit">Submit</button>
			</form>
		</div>
	</body>
</html>